.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    color: white;
}

.logo {
    width: 35%;
    margin-left: 2.2rem;
    padding-bottom: 3rem;
}

.title {
    font-family: "Poppins";
    font-weight: 600;
    width: 75vw;
    font-size: x-large;
    text-align: center;
}

.preview {
    width: 60vw;
    position: relative;
    left: 2rem;
}

.description {
    width: 80%;
    text-align: center;
}

.register {
    position: relative;
    left: 10vw;
    color: hsl(300, 69%, 71%);
    border-radius: 25px;
    padding: 1rem 5rem 1rem 5rem;
    margin-top: 2.5rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    margin-top: 5rem;
    margin-right: 1rem;
    position: relative;
    right: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
}

@media (min-width: 1440px) {
    body {
        background-image: url("../images/bg-desktop.svg");
    }
    .preview {
        width: 53vw;
    }
    .desk-left {
        display: flex;
        flex-direction: column;
    }
    .desk-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .desk {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}